
/*
* {
  box-sizing: border-box;
}
/*body,h1,h2,h3,h4,h5,h6,.w3-wide {
    font-family: "Montserrat", sans-serif;
}
a {
    font-family: "Roboto", sans-serif
}*/
/*
.top-bar{
    background-color: grey;
    padding: 8px;
    float: left;
    width: 100%;
    color: white;  
    font-size: 14px;
    margin-left: -8px;
    margin-top: -8px;
}
.tp1{
    float: left;
    margin-left: 40px;
}
.tp2{
    float: right;
    margin-right: 40px;
}
.tp3{
    float: right;
    margin-right: 20px;
}
/* Navigation bar */
/*@CHARSET "ISO-8859-1";
.col-xs-6{
	margin-top:11px;	
}
.navbar-brand{
	padding:0px 15px;
	font-size: 40px;
}
.btn{
	padding:7px 13px;
	margin-bottom: 0;
	margin-top: 15px;
	margin-left: -10px;
}
.container-fluid{
	padding-right: 23px;
}
.navbar{
	min-height: 49px;
	margin-bottom: -4px;
}
.navbar-inverse{
	
	border-color:#211935;
}
/*.navbar{
    float: left;
    padding: 16px;
    width: 100%;
    margin-left: -8px;
    box-shadow: 0px 0px 5px grey;
    display: block;
}
.navbar-logo{
    float: left;
    margin-left: 8vw;
}
.search-container{
    float: left;
    margin-left: 2vw;
    width: 80%;
    margin-top: -8px;
    padding: 0px;
}*/
/*
.search-container button{
  float: right;
  padding: 5px;
  margin-top: 8px;
  margin-right: 170px;
  background: #ddd;
  font-size: 16px;
  border: none;
  cursor: pointer; 
}

.search-container button:hover{
    background: #ccc;
}
.search-container input{
    width: 80%;
} 
 input[type=text] {
  padding: 4px;
  margin-top: 8px;
  font-size: 16px;
  
}*/
/*.navbar-search-form{
    float: left;
    margin-left: 2vw;
    width: 80%;
    padding-left: 16px;
}
.navbar-search-form input{
    width: 100%;
} */
/*
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #80aaff;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .header {
  background: #99bbff;
  padding: 10px;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}*/
/* Create three equal columns that floats next to each other */
/*.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #ccc;
  height: 250px;
}

.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #ddd;
}
*/
/* Clear floats after the columns */
/*.row:after {
  content: "";
  display: table;
  clear: both;
}
*/
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
/*@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
  .search-container button{
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  } 
}*/